@charset "UTF-8";

/* タブボタン */
.tabs {
    width: 50%;
    position: absolute;
    top: 250px;
    left: 200px;
    color: white;
}

.tab-buttons span {
    font-size: 32px;
    font-weight: initial;
    font-family: Noto;
    cursor: pointer;
    display: block;
    width: 20%;
    float: left;
    text-align: center;
    height: 45px;
    line-height: 40px;
    margin: -15px 10px 10px 10px;
}

#cgall .tab-buttons span {
    width: 220px;
    height: 39.5px;
    margin: -10px 0 0 0;
    padding: 10px 0;
}

#cgall .tab-buttons #tab_button3 {
    width: 220px;
    margin-left: 100px;
}

#cgall .tab-buttons #tab_button4 {
    width: 245px;
    color: #606589;
}

#cgall .tab-buttons #tab_button5 {
    width: 145px;
    color: #606589;
    pointer-events: none;
}

.tab-content {
    padding: 15px;
    position: absolute;
    top: 50px;
    left: 90px;
    height: 590px;
    width: 1320px;
}

/*音楽*/
audio {
    display: none
}

.act {
    width: 100%;
    height: 100%;
}

#play {
    position: absolute;
    top: 490px;
    left: 790px;
    width: 38px;
    height: 51px;
    cursor: pointer;
}


.img_container img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.img_container:hover img:nth-of-type(2) {
    opacity: 0;
}


#time {
    margin: 0 1em;
}

#current, #duration {
    padding: 0;
    margin: .2em;
}

#seekbar {
    width: 300px;
    height: 5px;
    margin: 1em;
    background: linear-gradient(#fff, #fff) no-repeat #606589;
}

.m_title {
    padding-left: 5px;
    text-align: left;
    font-size: 25px;
    font-family: Noto;
    color: #606589;
    margin-bottom: 18px;
    border-left: 4px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: .3s;
}

.m_title:hover {
    color: #fff;
}

#bgm1 {
    border-left: 4px solid rgba(0, 0, 0, 1);
}

/*CG*/
.cg {
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 50px;
    width: 240px;
    transition: 0.3s;
}

.cg:hover {
    opacity: 0.8;
}

#cgbig, #cgvideo {
    visibility: hidden;
    position: absolute;
    top: -250px;
    left: -200px;
    width: 1920px;
    height: 1080px;
    z-index: 15;
    background-size: contain;
    transition: .5s;
}

.try {
    position: absolute;
    font-size: 50px;
    color: #fff;
    background-color: #000;
    opacity: 0.8;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    pointer-events: none;
}

/** チャプター選択 */

#chaptertitle {
    font-size: 50px;
    margin: 30px 0 0 50px;
}

#summary {
    position: absolute;
    letter-spacing: 0.1em;
    top: 120px;
    left: 590px;
    font-size: 20px;
    font-family: Noto;
    width: 620px;
    text-align: left;
    color: #606589;
}

#chapbg {
    width:500px;
    margin:25px 0 0 30px;
}

#chapterbutton {
    position: absolute;
    /* float: right; */
    letter-spacing: 0.1em;
    font-family: Noto;
    top: 280px;
    left: 960px;
    background: #606589;
    border-radius: 50vh;
    text-align: center;
    padding-top: 8px;
    width: 250px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.5s;
}

#chapterbutton:hover {
    /* opacity: 0.75; */
    background: #262a38;
}

.chapterchoice {
    position: absolute;
    top: 404px;
    left: 55px;
}

.chapterchoice2 {
    position: absolute;
    top: 524px;
    left: 180.5px;
}

.chap {
    position: absolute;
    width: 30px;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}

.chap:hover {
    transform: scale(2);
}

.chap.selected {
    transform: scale(2);
}

.chapbar {
    position: absolute;
    top: 480px;
    width: 190px;
    height: 1px;
    background: #606589;
}

.bar1, .bar3, .bar5, .bar7, .bar9 {
    transform:rotate(45deg);
}
.bar2, .bar4, .bar6, .bar8, .bar10 {
    transform:rotate(-45deg);
}

/** ボーダー */
.gallery_border {
    position: absolute;
    top: 50px;
    height: 620px;
    pointer-events: none;
}